<body class="grid-header">
    <div class="logo">
        <img src='assets/images/logo.PNG' alt="">
    </div>
    <div class="navigation">
        <div>
            <nav>
                <ul>
                    <li><a [routerLink]="">LISTEN</a></li>
                    <li><a [routerLink]="">MONITOR</a></li>
                    <li><a [routerLink]="">DESIGN</a></li>
                    <li><a [routerLink]="['/ticket-status']" class="active">ADVISE</a></li>
                </ul>
            </nav>
        </div>
        <div class="profile">
            <div class="message">
                <span>Welcome Jimmy Page</span>
            </div>
            <div id="photo-profile">
                <img src='assets/images/jimmyP.jpg' alt="">
            </div>
        </div>
    </div>
    <div class="settings">
        <i class="fas fa-cog icons"></i>
    </div>
</body>