<!--<header class="header">
    <div class="container">
        <a href="#" class="logo">CUBO</a>
        <nav class="navigation">
            <ul>
                <li><a href="#">LISTEN</a></li>
                <li><a href="#">MONITOR</a></li>
                <li><a href="#">DESIGN</a></li>
                <li><a href="#">ADVISE</a></li>
            </ul>
        </nav>
        <a><mat-icon>settings</mat-icon></a>
    </div>
</header>-->

<body class="grid-header">
    <div class="logo">
        CUBO
    </div>
    <div class="navigation">
        <div>
        <nav>
            <ul>
                <li><a href="#">LISTEN</a></li>
                <li><a href="#">MONITOR</a></li>
                <li><a href="#">DESIGN</a></li>
                <li><a href="#">ADVISE</a></li>
            </ul>
        </nav>
        </div>
        <div class="profile">
        <div class="message">
            <span>Welcome Jimmy Page</span>
        </div>
        <div id="photo-profile">
            <img src="../../../assets/images/jimmyP.jpg" alt="">
        </div>
    </div>
    </div>
    <div class="settings">
        <i class="fas fa-cog icons"></i>
    </div>
</body>