* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-header > * {
    padding: 0;
    text-align: center;
}

.logo {
    grid-area: logo;
    background-color: #102C3D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    grid-area: navigation;
    background-color: #14ABFD;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings {
    grid-area: settings;
    background-color: #15252E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-header {
    display: grid;
    gap: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    grid-template: 
        "logo navigation settings" auto /
        75px auto 70px;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation ul {
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1.25rem;
    margin-left: 1.5rem;
    transition: all 0.3s linear;
    border-radius: 5px;
}

.navigation ul li a:hover {
    background: white;
    color: #14ABFD;
    font-weight: 500;
}

/* .navigation ul li a:focus {
    background: white;
    color: #14ABFD;
    font-weight: 500;
} */

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.5rem;
}

.message {
    color: white;
    padding: 1rem 0.5rem;
    margin-right: 0.5rem;

}

#photo-profile img {
    border-radius: 50%;
    width: 50px;
    height: 45px;
}

.icons {
    font-size: 1.75em;
    color: #98A1A5;
}

.logo img {
    width: 40px;
    height: 40px;
}

.active {
    background: white;
    color: #14ABFD !important;
    font-weight: 500;
}