.container {
    width: auto;
    height: 400px;
    margin: 10px 150px;
    margin-bottom: 15px !important;
    background-color: #EBEEF0;
    position: relative;
}

.container .form {
    top: 5px;
    left: 0;
    width: 100%;
    position: absolute;
}

h3 {
    text-align: left;
    margin-left: 50px;
}

.step-row {
    background-color: white;
    width: 990px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}

.step-col {
    width: 485px;
    text-align: center;
    position: relative;
}

h5 {
    padding: 10px 0 25px 0;
    margin: 0 15px 0 0;
    text-align: left;
}

.div-stepper {
    margin-top: 40px;
}

mat-horizontal-stepper {
    padding: 0 80px;
}

//////
mat-form-field {
    background-color: blue;
    width: 100%;
    height: 50px;
    margin: 0 10px 0 0;
}

.scroll-form {
    margin: 5px -17px;
    height: 250px;
}

.scroll-form::-webkit-scrollbar {
    width: 4px;
}

.scroll-form::-webkit-scrollbar-thumb {
    background: #14ABFD;
    border-radius: 7px;
}

.footer {
    padding-top: 25px;
    text-align: left !important;
}

#next-button {
    text-align: right;
}

.map img {
    width: 310px;
    margin-left: 5px;
}

.div-input-l {
    width: 100%;
    height: 100px;
    margin: 0 0 0 15px;
}

.div-input-r {
    width: 100%;
    height: 100px;
    margin: 0 15px 0 15px;
}

.div-input-empty-l {
    width: 100%;
    height: 50px;
    margin: 0 10px 0 5px;
}

.div-input-empty-r {
    width: 100%;
    height: 50px;
    margin: 0 10px 0 5px;
}

.div-txt-area-r {
    width: 100%;
    height: 130px;
    margin: -40px 15px 0 15px;
    padding-bottom: -50px;
}

#txt-area {
    outline: none;
    box-sizing: border-box;
    width: 99%;
    height: 80px;
    background: #EBEEF0;
    border-radius: 4px;
    border: hidden;
    padding: 1em 1.8em;
    font-size: 0.80em;
}

#caracter {
    font-size: 0.7em;
    text-align: right;
    margin-top: -1px;
}

#label {
    font-size: 0.80em;
    margin-bottom: 7px;
    text-align: left;
}

#subtitle {
    font-size: 0.80em;
    margin-bottom: 10px;
    margin-left: 15px;
    text-align: left;
}

#input {
    outline: none;
    box-sizing: border-box;
    width: 99%;
    background: #EBEEF0;
    border-radius: 4px;
    border: hidden;
    padding: 1em 1.8em;
    font-size: 0.70em;
}

#input-select {
    outline: none;
    box-sizing: border-box;
    width: 99%;
    background: #EBEEF0;
    border-radius: 4px;
    border: hidden;
    padding: 0.8em 1.1em;
    font-size: 0.8em;

    appearance: none;
}

.div-select {
    width: 100%;
    height: 100px;
    margin: 0 0 0 15px;
}

.div-select-r {
    width: 100%;
    height: 100px;
    margin: 0 15px 0 15px;
}

// #input-select select {
//     appearance: none;
// }
//
.div-select:before {
    content: '';
    font-weight: 900;
    position: absolute;
    top: 20px;
    right: 0;
    width: 50px;
    height: 35px;
    background-image: url('data:image/svg+xml;utf8,');
}

.icons {
    margin-left: -28px;
    color: #14ABFD;
}

.icons2 {
    margin: 0 0 20px -20px;
    color: #14ABFD;
}

// .example-section {
//     display: flex;
//     align-content: center;
//     align-items: center;
//     height: 60px;
//   }
  
//   .example-margin {
//     margin: 0 10px;
//   }

.div-input-l2 {
    width: 100%;
    height: 50px;
    margin: 0 15px 0 15px;
}

.div-input-r2 {
    width: 100%;
    height: 50px;
    margin: 0 15px -10px 15px;
}

.div-input-r22 {
    display: inline-flex;
    width: 100%;
    height: 50px;
    margin: -10px 15px -10px 15px;
}

#label2 {
    font-size: 0.80em;
    margin: 7px -5px;
    text-align: left;
}

#label3 {
    font-size: 0.80em;
    margin: 10px 0 10px 10px;
    text-align: left;
}

#warning {    
    font-size: 0.80em;
    margin: 15px 0 0 0;
    text-align: left;
}

#next-button {
    width: 100%;
    text-align: right;
    margin-right: 5px;
}

div button {
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: #14ABFD;
    border-radius: 5px;
    border: 0;
    color: white;
    outline: none;
    cursor: pointer;
}

.form2 {
    left: 0 !important;
}