* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

.grid-container > * {
    padding: 0;
    text-align: center;
}

.header {
    grid-area: header;
    background-color: #14ABFD;
}

.sidebar {
    grid-area: sidebar;
    background-color: #15252E;
}

.main {
    grid-area: main;
    background-color: #DEE8ED;
}

.grid-container {
    display: grid;
    gap: 0;
    grid-template-columns: 75px auto;
    grid-template-rows: 60px auto;
    grid-template-areas: 
        "header header"
        "sidebar main";
}