<mat-toolbar class="mat-elevation-z3">
    <span class="title-toolbar">Ticket Status</span>
    <span class="spacer"></span>
    <i class="fas fa-redo"></i>
</mat-toolbar>

<table class="container">
    <thead>
        <tr>
            <th>Fecha</th><th>Meta y objetivo</th><th>Contenido</th><th>Fecha de Cierre</th><th>Status</th><th>Partnert</th><th>Satisfacción</th><th>SLA</th>
        </tr>
    </thead>
    <tr>
        <td class="date">10/08/2019</td>
        <td class="goal">Social Media Management - Mantenimiento del perfil</td>
        <td class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, cupiditate earum. Rerum a consequuntur ratione omnis veritatis officiis sapiente maiores expedita distinctio debitis.</td>
        <td class="deadline">15/08/2019</td>
        <td><button mat-flat-button style="background-color: #A5D18A">Open</button></td>
        <!-- <td><img src="../../../assets/images/jimmyP.jpg" alt="">Lorena Pastrana</td> -->
        <td id="photo-td">
            <div class="partnert">
                <div id="photo">
                    <img src='assets/images/jimmyP.jpg' alt="">
                </div>
                <div class="part">
                    <span>Lorena Pastrana</span>
                </div>
            </div>
        </td>
        <td><i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fas fa-star star"></i></td>
        <td class="sla">7</td>
    </tr>
    <tr>
        <td class="date border-td">10/08/2019</td>
        <td class="goal">Campaña de Marketing en redes - Lanzamiento de Perfil Social</td>
        <td class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, cupiditate earum. Rerum a consequuntur ratione omnis veritatis officiis sapiente maiores expedita distinctio debitis.</td>
        <td class="deadline">15/08/2019</td>
        <td><button mat-flat-button style="background-color: #f0866c">Close</button></td>
        <!-- <td><img src="../../../assets/images/jimmyP.jpg" alt="">Eduardo Vigil</td> -->
        <td id="photo-td">
            <div class="partnert">
                <div id="photo">
                    <img src='assets/images/jimmyP.jpg' alt="">
                </div>
                <div class="part">
                    <span>Eduardo Vigil</span>
                </div>
            </div>
        </td>
        <td><i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="far fa-star star-none"></i><i class="far fa-star star-none"></i></td>
        <td class="sla border-td-r">5</td>
    </tr>
    <tr id="last-tr">
        <td class="date">10/08/2019</td>
        <td class="goal">Social Media Management - Mantenimiento del perfil</td>
        <td class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quas facere nisi pariatur maiores.</td>
        <td class="deadline">15/08/2019</td>
        <td><button mat-flat-button style="background-color: #f0866c">Close</button></td>
        <td id="photo-td">
            <div class="partnert">
                <div id="photo">
                    <img src='assets/images/jimmyP.jpg' alt="">
                </div>
                <div class="part">
                    <span>Lorena Pastrana</span>
                </div>
            </div>
        </td>
        <td><i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="far fa-star star-none"></i></td>
        <td class="sla">3</td>
    </tr>
</table>