/* #sidebar {
    position: fixed;
    height: 100%;
} */
/* 
.sidebar-menu {
    display: block;
} */

.icons {
    font-size: 1.5em;
}

#item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-top: inset 0.05px #DFE5E8;
    cursor: pointer;
}

#tittle-item {
    padding-top: 0.65rem;
    font-size: 13px;
    line-height: 1em;
}

#item a {
    text-decoration: none;
    color: #99B7C6;
    height: 60px;
    width: 60px;
    padding: 1.2em 0.5em;
}

#item:hover {
    background: #0A1D2A;
}

#item a:hover {
    color: #14ABFD;
    font-weight: 500;
}

.icons:hover {
    color: #14ABFD;
}

/* #item:focus {
    background: #0A1D2A;
} */
/* 
#item:hover ~ #items a {
    background: #14ABFD;
} */

#item a:focus {
    color: #14ABFD;
    font-weight: 500;
    background: #0A1D2A;    /*Borrar si no se arregla*/
}

.icons:focus {
    color: #14ABFD;
}

/* #item a:focus + #item {
    background: #0A1D2A;
} */