<div id="sidebar">
    <div class="sidebar-menu">
        <div id="menu">
            <div id="item">
                <a href="#">
                    <div class="icon"><i class="fas fa-question-circle icons"></i></div>
                    <div class="tittle-item"><span>How To</span></div>
                </a>
            </div>
            <div id="item">
                <a href="#">
                    <div class="icon"><i class="fas fa-life-ring icons"></i></div>
                    <div class="tittle-item"><span>Get Help</span></div>
                </a>
            </div>
            <div id="item">
                <a href="#">
                    <div class="icon"><i class="fas fa-walking icons"></i></div>
                    <div class="tittle-item"><span>Do It Yourself</span></div>
                </a>
            </div>
            <div id="item">
                <a [routerLink]="['/home']">
                    <div class="icon"><i class="fas fa-ticket-alt icons"></i></div>
                    <div class="tittle-item"><span>Ticket Status</span></div>
                </a>
            </div>
        </div>
    </div>
</div>
