<div id="sidebar">
    <div class="sidebar-menu">
        <div id="menu">
            <div id="item">
                <a [routerLink]="['/how-to']">
                    <div class="icon"><i class="fas fa-question-circle icons"></i></div>
                    <div id="tittle-item"><span>How To</span></div>
                </a>
            </div>
            <div id="item">
                <a [routerLink]="['/get-help']">
                    <div class="icon"><i class="fas fa-life-ring icons"></i></div>
                    <div id="tittle-item">Get Help</div>
                </a>
            </div>
            <div id="item">
                <a [routerLink]="['/ticket-status']">
                    <div class="icon"><i class="fas fa-walking icons"></i></div>
                    <div id="tittle-item"><span>Do It Yourself</span></div>
                </a>
            </div>
            <div id="item">
                <a [routerLink]="['/ticket-status']">
                    <div class="icon"><i class="fas fa-ticket-alt icons"></i></div>
                    <div id="tittle-item"><span>Ticket Status</span></div>
                </a>
            </div>
        </div>
    </div>
</div>
